#user-input {
  user-select: none;
}

#game-frame {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#game-frame > div {
  transform-origin: center !important;
}



@media (max-width: 425px) {
.full-screen {
    width: 100%;
    height: 100%;
    /* Optional: use flexbox to center content */
    display: flex;
    /* justify-content: center;
  align-items: center; */
    background-color: black;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* Ensures padding/border doesn't cause overflow */
  }
}