#user-input {
  user-select: none;
}

#game-frame {
  display: flex;
  height: 725px;
  overflow: hidden;
}

#game-frame > div {
  transform-origin: center !important;
}



@media (max-width: 425px) {
.full-screen {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}